<?xml version="1.0"?>
<config>
    <modules>
        <boozaid_CustomLayouts>
            <version>0.0.1</version>
        </boozaid_CustomLayouts>
    </modules>
 	<global>
  		<page>
   			<layouts>
    			<landingpage module="page" translate="label">
     				<label>Landing Page</label>
     				<template>page/landingpage.phtml</template>
                    <layout_handle>landingpage</layout_handle>
    			</landingpage>
   			</layouts>
  		</page>

  		<page>
   			<layouts>
    			<faq module="page" translate="label">
     				<label>FAQ</label>
     				<template>page/faq.phtml</template>
                    <layout_handle>faq</layout_handle>
    			</faq>
   			</layouts>
  		</page>

        <page>
            <layouts>
            <shippingpolicy module="page" translate="label">
                <label>Shipping Policy</label>
                <template>page/shipping-policy.phtml</template>
                <layout_handle>shippingpolicy</layout_handle>
            </shippingpolicy>
            </layouts>
        </page>

        <page>
            <layouts>
                <science module="page" translate="label">
                    <label>Science</label>
                    <template>page/science.phtml</template>
                    <layout_handle>science</layout_handle>
                </science>
            </layouts>
        </page>

        <page>
            <layouts>
                <satisfactionguarantee module="page" translate="label">
                    <label>Satisfaction Guarantee</label>
                    <template>page/satisfactionguarantee.phtml</template>
                    <layout_handle>satisfactionguarantee</layout_handle>
                </satisfactionguarantee>
            </layouts>
        </page>

        <page>
   			<layouts>
    			<directions module="page" translate="label">
     				<label>Directions</label>
     				<template>page/directions.phtml</template>
                    <layout_handle>directions</layout_handle>
    			</directions>
   			</layouts>
  		</page>

        <page>
            <layouts>
                <contactus module="page" translate="label">
                    <label>Contact Us</label>
                    <template>page/contactus.phtml</template>
                    <layout_handle>contactus</layout_handle>
                </contactus>
            </layouts>
        </page>

 	</global>

     <frontend>
        <layout>
            <updates>
                <boozaid_CustomLayouts>
                    <file>boozaid_CustomLayouts.xml</file>
                </boozaid_CustomLayouts>
            </updates>
        </layout>
    </frontend>
</config>