<?xml version="1.0"?>
<config>
    <modules>
        <boozaid_CustomLayouts>
            <version>0.0.1</version>
        </boozaid_CustomLayouts>
    </modules>
 	<global>
  		<page>
   			<layouts>
    			<landingpage>
     				<label>Landing Page</label>
     				<template>page/landingpage.phtml</template>
    			</landingpage>
   			</layouts>
  		</page>

  		<page>
   			<layouts>
    			<faq>
     				<label>FAQ</label>
     				<template>page/faq.phtml</template>
    			</faq>
   			</layouts>
  		</page>

      <page>
        <layouts>
          <shippingpolicy>
            <label>Shipping Policy</label>
            <template>page/shipping-policy.phtml</template>
          </shippingpolicy>
        </layouts>
      </page>

      <page>
        <layouts>
          <science>
            <label>Science</label>
            <template>page/science.phtml</template>
          </science>
        </layouts>
      </page>

      <page>
   			<layouts>
    			<contactus>
     				<label>Contact Us</label>
     				<template>page/contactus.phtml</template>
    			</contactus>
   			</layouts>
  		</page>
 	</global>
</config>