<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <boozaid_Customerbodyclass>
            <version>1.0.0</version>
        </boozaid_Customerbodyclass>
    </modules>
 
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html>boozaid_Customerbodyclass_Block_Html</html>
                </rewrite>
            </page>           
        </blocks>
    </global>
</config>